.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperSection{
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 48px;
    color: #25313C;
}
.postDate{
    height: 8vh;
    width: 21vw;
    color: #6D7D8B;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.whoPosted{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
}
.hostImage{
    height: 8vh;
    width: 10vw;
}       
.mainPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
.postImg{
    height: auto;
    width: 80%;
}
.description{
    width: 60vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    font-size: 18px;
    color: #25313C;
}
.writterSection{
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-items: start;
    align-items: center;
}
.whoWritten{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.writerInfo{
    width: 20vw;
}
hr{
    width: 60vw;
}
.commentSection{
    width: 60vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Join{
    font-size: 24px;
    color: #6D7D8B;
}
.comment{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.commentInput{
    width: 30vw;
    height: 12vh;
    font-size: 16px;
    background-color: #FFFFFF;
    border: 2px solid #BBC8D4;
    border-radius: 4px;
}
