.home {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.posts{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
}
.h1{
    position: relative; 
    display: flex;
}
.titleDescription{
    position: relative; 
    display: flex;
    color: #6D7D8B;
    font-size: 18px;
}